<table class="govuk-table">
  <caption class="govuk-table__caption govuk-heading-xl">History</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Report</th>
      <th class="govuk-table__header" scope="col">Supplier</th>
      <th class="govuk-table__header" scope="col">Month</th>
      <th class="govuk-table__header" scope="col">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ccs-report-table__cell">
        <h2>RM0000 Framework name</h2>
        <p class="govuk-body-s">Reported 7 January 2019 09:43 UTC</p>
      </td>
      <td class="govuk-table__cell ccs-report-table__cell">Supplier A</td>
      <td class="govuk-table__cell ccs-report-table__cell">December 2018</td>
      <td class="govuk-table__cell ccs-report-table__cell"><a href="#">view</a></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell ccs-report-table__cell">
        <h2>RM0000 Framework name</h2>
        <p class="govuk-body-s">Reported 7 January 2019 09:32 UTC</p>
      </td>
      <td class="govuk-table__cell ccs-report-table__cell">Supplier B</td>
      <td class="govuk-table__cell ccs-report-table__cell">December 2018</td>
      <td class="govuk-table__cell ccs-report-table__cell"><a href="#">view</a></td>
    </tr>
  </tbody>
</table>
