
<form>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Fieldset title
      </h1>
    </legend>
    <div class="govuk-form-group">
      <label class="govuk-label" for="user_name">Name</label>
      <input class="govuk-input" type="text" name="user[name]" id="user_name">
    </div>
    <div class="govuk-form-group">
      <label class="govuk-label" for="user_email">Email address</label>
      <input class="govuk-input" type="text" name="user[email]" id="user_email">
    </div>
    <div class="govuk-form-group">
      <input type="submit" name="commit" value="Add new user" aria-label="Add new user" class="govuk-button" data-disable-with="Add new user">
    </div>
  </fieldset>
</form>
