<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Label
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Item 1</option>
    <option value="updated" selected>Item 2</option>
    <option value="views">Item 3</option>
    <option value="comments">Item 4</option>
    <option value="comments">Item 5</option>
  </select>
</div>
