<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email
    </dt>
    <dd class="govuk-summary-list__value">
      user@example.com
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Created at
    </dt>
    <dd class="govuk-summary-list__value">
      12 January 2019 09:34 UTC
    </dd>
  </div>
</dl>
