<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Return</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Returned</th>
      <th class="govuk-table__header" scope="col">Rows</th>
      <th class="govuk-table__header" scope="col">Total</th>
      <th class="govuk-table__header" scope="col">Management charge</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Contracts</td>
      <td class="govuk-table__cell">100</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">£0.00</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Invoices</td>
      <td class="govuk-table__cell">200</td>
      <td class="govuk-table__cell">£200.00</td>
      <td class="govuk-table__cell">£2.00</td>
    </tr>
  </tbody>
</table>
