<ul class="ccs-tasks">
  <li class="ccs-task ccs-task--empty">
    <div class="ccs-task__information">
      <div class="ccs-task__body">
        <p>All your tasks are complete.</p>
        <p>You’re up to date on all frameworks.</p>
      </div>
    </div>
  </li>
</ul>
