<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Management information for {{task.framework.short_name}} {{task.framework.name}} submitted to CCS
  </h1>
</div>
